@model List<Pautas.Models.Profesor.FoldersCurso>
@{
    string porcentajeAuth = User.FindFirst("Porcentaje")?.Value;
    string pagarAuth = User.FindFirst("Pagar")?.Value;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Gestión de Carpetas y Archivos</title>
</head>
<body onload="mostrarFechaActual()">

  
    <div id="wrapper" class="sidebar-toggled">

        <div class="container-fluid mt-1">
            <h1>Dashboard</h1>

            <div class="container mt-4">
            </div>




            <div class="row">

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Fecha Actual
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="fechaActual"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Pending Requests
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Porcentaje de avance
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.userPorcentaje%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     style="width: @ViewBag.userPorcentaje%"
                                                     aria-valuenow="@ViewBag.userPorcentaje"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                       Por Pagar
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">$@ViewBag.userPagar</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-center">

                @foreach (var foldercurso in Model)
                {
                    // Determinar el color del borde basado en el Id
                    string borderColorClass = foldercurso.Id switch
                    {
                        1 => "border-left-warning",   // Amarillo
                        2 => "border-left-primary",   // Azul
                        3 => "border-left-success",    // Rojo
                        4 => "border-left-info",      // Celeste
                        5 => "border-left-danger",   // Verde
                        6 => "border-left-dark",      // Chocolate
                        _ => "border-left-secondary"  // Color predeterminado si Id no coincide
                    };

                    string folderColorClass = foldercurso.Id switch
                    {
                        1 => "text-warning",   // Amarillo
                        2 => "text-primary",   // Azul
                        3 => "text-success",    // Rojo
                        4 => "text-info",      // Celeste
                        5 => "text-danger",   // Verde
                        6 => "text-dark",      // Chocolate
                        _ => "text-secondary"  // Color predeterminado si Id no coincide
                    };

                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card @borderColorClass shadow h-100 py-2">
                            <a class="pl-3 pr-3" style="text-decoration: none;" href="@Url.Action("Nivel", "Student", new { id = foldercurso.Id })">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-primary text-uppercase mb-1">
                                                @foldercurso.Name
                                            </div>
                                        </div>
                                        <div class="col">
                                            <i class="bi bi-folder-fill @folderColorClass display-4"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>

            <!-- Modal para crear carpeta -->
            <div id="createFolderModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crear Carpeta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="createFolderForm" method="post" action="@Url.Action("CreateFolderCurso", "Student")">
                                <div class="form-group">
                                    <label for="folderName">Nombre de la Carpeta</label>
                                    <input type="text" class="form-control" id="folderName" name="Name" required />
                                </div>
                                <input type="hidden" name="ParentFolderId" value="" id="parentFolderId" />
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script>
        function openCreateFolderModal(parentFolderId = null) {
            $('#parentFolderId').val(parentFolderId);
            $('#createFolderModal').modal('show');
        }
    </script>
    <script>
        function mostrarFechaActual() {
            var fecha = new Date();
            var dia = fecha.getDate();
            var mes = fecha.getMonth() + 1; // Los meses comienzan desde 0
            var año = fecha.getFullYear();

            // Formato: dd/mm/yyyy
            var fechaActual = (dia < 10 ? '0' : '') + dia + '/' + (mes < 10 ? '0' : '') + mes + '/' + año;

            document.getElementById("fechaActual").textContent = fechaActual;
        }
    </script>
</body>
</html>
